.container{
    width: 200px;
    text-align: center;
    background-color: rgb(208, 110, 110);
}

#pwrbtn{
    padding: 5px;
    width: 40px;
    height: 40px;
}

#btn{
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 100px;
    box-shadow: 1px 1px 1px black;
}

#btn:hover{
    background-color: rgb(88, 185, 220);
}